<!--
/**
 * (c) Copyright i4 Software Ltd. All Rights Reserved.
 *
 * @author David Barton
 * @since May 2015
 */
-->
.ui-tree-container {
    position: absolute !important;
    left:0;
}

.pp-southLayoutUnit > .ui-layout-unit-content  {
    overflow: hidden !important;
}

.pp-tree {
    border: none;
    width: 100% !important;
}

.pp-accordionPanel > .ui-accordion-content {
    padding-bottom: 0 !important;
}
.pp-chartLayout {
    min-width: 100%;
    height:525px;
    overflow-y: hidden !important;
}

.pp-pieChartLayout {
    min-width: 500px;
}

.pp-pieChartLayout > div {
    overflow:hidden !important;
}

.pp-pieChart {
    min-width: 500px;
    height: 500px;
}

.pp-barChartLayout {
    min-width: 800px;
}

.pp-barChartLayout > div {
    overflow: hidden !important;
}

.pp-barChart {
    min-width: 800px;
    height: 500px;
}

.pp-icon {
    display: inline-block !important;
    padding-left: 5px;
    padding-right: 5px;
}

.pp-infoIcon {
    cursor: pointer;
    text-decoration: none;
}

.pp-bathHacked {
    float:left;
}

.pp-themeSwitcher {
    width:165px !important;
    position:absolute !important;
    top:0;
    right:0;
}

.pp-pieIcon {
    max-width: 24px !important;
    max-height: 24px !important;
    padding-right: 4px;
    float: left;
}

.pp-infoDialog {
    width:auto !important;
    height:auto !important;
}
